<div id="sidebar">
  <mat-nav-list>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/admin']">
        <mat-icon class="sidenav-icon">account_circle</mat-icon> Shahabuddin Ahmed
    </a>
    <hr>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/admin']">
      <mat-icon class="sidenav-icon">dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/createpost']">
        <mat-icon class="sidenav-icon">create</mat-icon> Create Post
    </a>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/postcatagory']">
      <mat-icon class="sidenav-icon">list</mat-icon> Post Catagory
    </a>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/published']">
      <mat-icon class="sidenav-icon">edit</mat-icon> Published Post(12)
    </a>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/personal']">
      <mat-icon class="sidenav-icon">edit</mat-icon> Personal Post(3)
    </a>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/draft']">
      <mat-icon class="sidenav-icon">save</mat-icon> Draft Post(5)
    </a>
    <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/adminpanel']">
      <mat-icon class="sidenav-icon">group</mat-icon> Admin Panel
    </a>
  </mat-nav-list>
</div>
