<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-8">
        <mdb-card class="testimonial-card">
            <!--Bacground color-->

            <mdb-card-body>
              <!--Name-->
              <mdb-card-title>
                <h4>Title of the Content</h4>
              </mdb-card-title>
              <hr>
              <!--Quotation-->
              <div class="row">
                <div class="col-md-3">
                  <img src="assets/pictures/3.jpg" alt="thumbnail" class="img-thumbnail"
                  >
                </div>
                <div class="col-md-9">
                  <p>
                    I am MEAN Stack Developer. I am studying in B.Sc Engineering
                    in "Computer Science and Engineering" of University of Rajshahi,
                     Bangladesh. I love coding.
                     I have an indomitable patient in continuously for a long time
                      coding. In previous, I have developed more than 5 projects in laravel.
                       I am working in MEAN more than 1 year. I have also developed many projects
                       by MEAN and even though working on many projects in parallel. I
                        have also worked many professional projects.
                  </p>
                </div>
                <div class="col-md-12">
                  <p>
                      I am MEAN Stack Developer. I am studying in B.Sc Engineering
                      in "Computer Science and Engineering" of University of Rajshahi,
                       Bangladesh. I love coding.
                       I have an indomitable patient in continuously for a long time
                        coding. In previous, I have developed more than 5 projects in laravel.
                         I am working in MEAN more than 1 year. I have also developed many projects
                         by MEAN and even though working on many projects in parallel. I
                          have also worked many professional projects.
                          I am MEAN Stack Developer. I am studying in B.Sc Engineering
                      in "Computer Science and Engineering" of University of Rajshahi,
                       Bangladesh. I love coding.
                       I have an indomitable patient in continuously for a long time <br>
                        coding. In previous, I have developed more than 5 projects in laravel.
                         I am working in MEAN more than 1 year. I have also developed many projects
                         by MEAN and even though working on many projects in parallel. I
                          have also worked many professional projects.
                          I am MEAN Stack Developer. I am studying in B.Sc Engineering
                      in "Computer Science and Engineering" of University of Rajshahi,
                       Bangladesh. I love coding.
                       I have an indomitable patient in continuously for a long time
                        coding. In previous, I have developed more than 5 projects in laravel.
                         I am working in MEAN more than 1 year. I have also developed many projects
                         by MEAN and even though working on many projects in parallel. I
                          have also worked many professional projects.
                  </p>
                </div>
              </div>
            </mdb-card-body>
            <mdb-card-footer>
              <i class="fa fa-calendar" aria-hidden="true"></i>
              30 Dec 2018
              <i style="padding: 10px;" class="fa fa-comments" aria-hidden="true">12</i>
              <a href=""> <i style="padding: 10px;" class="fa fa-facebook" aria-hidden="true">12</i></a>
              <a href=""><i style="padding: 10px;" class="fa fa-twitter" aria-hidden="true">6</i></a>
              <a href=""><i style="padding: 10px;" class="fa fa-linkedin" aria-hidden="true">9</i></a>
            </mdb-card-footer>
          </mdb-card>
          <br>

          <!-- comment cart -->
          <mdb-card class="testimonial-card">
            <!--Bacground color-->

            <mdb-card-body>
              <!--Name-->
              <mdb-card-title>
              </mdb-card-title>
              <hr>


              <div class="media d-block d-md-flex mt-4">
                <img class="card-img-64 d-flex mx-auto mb-3" src="assets/pictures/2.jpg"
                  class="replayImage">
                <div class="media-body text-center text-md-left ml-md-3 ml-0">
                  <h5 class="font-weight-bold mt-0">
                    <a href="">Shahabuddin Ahmed</a>
                    <a href="">
                        <i class="material-icons">
                            reply
                            </i>
                    </a>
                  </h5>
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  <div class="media d-block d-md-flex mt-4">
                      <img class="card-img-64 d-flex mx-auto mb-3" src="assets/pictures/2.jpg"
                      class="replayImage">
                    <div class="media-body text-center text-md-left ml-md-3 ml-0">
                      <h5 class="font-weight-bold mt-0">
                        <a href="">Shahabuddin Ahmed</a>
                        <a href="">
                            <i class="material-icons">
                                reply
                                </i>
                        </a>
                      </h5>
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                      totam rem aperiam, eaque
                      ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </div>
                  </div>
                  <div class="media d-block d-md-flex mt-4">
                      <img class="card-img-64 d-flex mx-auto mb-3" src="assets/pictures/2.jpg"
                      class="replayImage">
                    <div class="media-body text-center text-md-left ml-md-3 ml-0">
                      <h5 class="font-weight-bold mt-0">
                        <a href="">Shahabuddin Ahmed</a>
                        <a href="">
                            <i class="material-icons">
                                reply
                                </i>
                        </a>
                      </h5>
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                      totam rem aperiam, eaque
                      ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </div>
                  </div>
                  <!-- Quick Reply -->
                  <div class="form-group mt-4">

                    <form class="example-form">
                      <label for="quickReplyFormComment">Your replay</label>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Leave a replay"></textarea>
                      </mat-form-field>
                      <div class="text-center my-4">
                        <button class="btn btn-primary btn-sm" type="submit">Post</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

            </mdb-card-body>
            <mdb-card-footer>
              <i class="fa fa-calendar" aria-hidden="true"></i>
              30 Dec 2018
              <i style="padding: 10px;" class="fa fa-comments" aria-hidden="true">12</i>
            </mdb-card-footer>
          </mdb-card>
          <!-- comment cart -->
          <br>

           <!-- comment cart -->
          <mdb-card class="testimonial-card">
            <!--Bacground color-->

            <mdb-card-body>
              <!--Name-->
              <mdb-card-title>
               <hr>
              </mdb-card-title>

              <div class="col-md-10 offset-1">
                <form class="example-form">
                  <label for="quickReplyFormComment">Your comment</label>
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Leave a comment"></textarea>
                  </mat-form-field>
                  <div class="text-center my-4">
                    <button class="btn btn-primary btn-sm" type="submit">Post</button>
                  </div>
                </form>
              </div>

            </mdb-card-body>
            <mdb-card-footer>
              <i class="fa fa-calendar" aria-hidden="true"></i>
              30 Dec 2018
              <i style="padding: 10px;" class="fa fa-comments" aria-hidden="true">12</i>
            </mdb-card-footer>
          </mdb-card>
          <!-- comment cart -->


  <!--Grid row-->
    </div>
    <div class="col-md-4">
        <mdb-card class="testimonial-card">
            <!--Bacground color-->
            <div class="card-up aqua-gradient">
                <br>
                <h4>About Writter</h4>
                <br>
            </div>

            <!--Avatar-->
            <div class="avatar mx-auto">
              <img src="assets/pictures/3.jpg" class="rounded-circle">
            </div>

            <mdb-card-body>
              <!--Name-->
              <mdb-card-title>
                <h4>Shahabuddin Ahmed</h4>
              </mdb-card-title>
              <hr>
              <!--Quotation-->
              <p>
                I am MEAN Stack Developer. I am studying in B.Sc Engineering in
                "Computer Science and Engineering" of University of Rajshahi,
                Bangladesh. I love coding.</p>
                  <button mdbBtn type="button" gradient="blue" mdbWavesEffect class="rounded" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Read More...</button>
                  <div class="collapse" id="collapseExample">
                    <p>I have an indomitable patient in
                      continuously for a long time coding. In previous, I have
                      developed more than 5 projects in laravel. I am working in
                      MEAN more than 1 year. I have also developed many projects by
                       MEAN and even though working on many projects in parallel. I
                       have also worked many professional projects.</p>
                  </div>
            </mdb-card-body>
            <mdb-card-footer>
              <div class="footer-widget">
                <div class="social pt-1">
                  <a href="https://twitter.com/Shahabuddin_CSE"><i class="fa fa-twitter-square"></i></a>
                  <a href="https://www.facebook.com/profile.php?id=100008200297394/"><i class="fa fa-facebook-square"></i></a>
                  <a href=""><i class="fa fa-google-plus-square"></i></a>
                  <a href="https://www.linkedin.com/in/shahabuddin-ahmed-679371102/"><i class="fa fa-linkedin-square"></i></a>
                  <a href="https://github.com/ShahabuddinAhmed"><i class="fa fa-github-square"></i></a>
                </div>
              </div>
            </mdb-card-footer>
          </mdb-card>
      <hr>
      <br>

      <mdb-card class="testimonial-card">
        <!--Bacground color-->
        <div class="card-up aqua-gradient">
            <br>
            <h4>Category</h4>
            <br>
        </div>

        <!--Avatar-->

        <mdb-card-body>
          <!--Name-->
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Recipe
              <span class="badge badge-primary badge-pill">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Fashion Style
              <span class="badge badge-primary badge-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Programming
              <span class="badge badge-primary badge-pill">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Web Developing
              <span class="badge badge-primary badge-pill">1</span>
            </li>
          </ul>
        </mdb-card-body>
      </mdb-card>

      <hr>
      <br>
      <mdb-card class="testimonial-card">
        <!--Bacground color-->
        <div class="card-up aqua-gradient">
            <br>
            <h4>Recent Post</h4>
            <br>
        </div>

        <!--Avatar-->

        <mdb-card-body>
          <!--Name-->
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Recipe
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Fashion Style
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Programming
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Web Developing
            </li>
          </ul>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  <br>
  <br>
  <nav aria-label="Page navigation example">
    <ul class="pagination pg-blue justify-content-center">
      <li class="page-item">
        <a class="page-link" mdbWavesEffect>Previous</a>
      </li>
      <li class="page-item"><a class="page-link" mdbWavesEffect>1</a></li>
      <li class="page-item active">
        <a class="page-link" mdbWavesEffect>2 <span class="sr-only">(current)</span></a>
      </li>
      <li class="page-item"><a class="page-link" mdbWavesEffect>3</a></li>
      <li class="page-item"><a class="page-link" mdbWavesEffect>4</a></li>
      <li class="page-item"><a class="page-link" mdbWavesEffect>5</a></li>
      <li class="page-item">
        <a class="page-link" mdbWavesEffect>Next</a>
      </li>
    </ul>
  </nav>
</div>
