<app-sidebar></app-sidebar>
<br>
<br>
<br>
<br>
<h3 style="text-align: center;">Admin Draft Post</h3>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-8">
      <div *ngFor="let _draftPostList of draftPostList">
      <mdb-card class="testimonial-card">
          <!--Bacground color-->

        <mdb-card-body>
          <!--Name-->
          <mdb-card-title>
            <h4>{{ _draftPostList.title }}</h4>
          </mdb-card-title>
          <hr>
          <!--Quotation-->
          <div class="row">
            <div class="col-md-3">
              <img src="assets/pictures/3.jpg" alt="thumbnail" class="img-thumbnail"
              style="width: 200px">
              <button mdbBtn type="button" gradient="blue" mdbWavesEffect class="rounded">Change</button>
            </div>
            <div class="col-md-9">
              <p>
                {{ _draftPostList.article | slice: 0 : 450 }}
              </p>
            </div>
          </div>
        </mdb-card-body>
        <mdb-card-footer>
          <button mdbBtn type="button" gradient="blue" mdbWavesEffect class="rounded">Update</button>
          <button mdbBtn type="button" gradient="blue" mdbWavesEffect class="rounded">Delete</button>
          <button mdbBtn type="button" gradient="blue" mdbWavesEffect class="rounded">draft</button>
          <button mdbBtn type="button" gradient="blue" mdbWavesEffect class="rounded">Personal</button>
          <button mdbBtn type="button" gradient="blue" mdbWavesEffect class="rounded">details</button>
        </mdb-card-footer>
      </mdb-card>
      <br>
      <br>
    </div>
  </div>
    <div class="col-md-1"></div>


  </div>
  <nav aria-label="Page navigation example">
      <ul class="pagination pg-blue justify-content-center">
        <li class="page-item">
          <a class="page-link" mdbWavesEffect>Previous</a>
        </li>
        <li class="page-item"><a class="page-link" mdbWavesEffect>1</a></li>
        <li class="page-item active">
          <a class="page-link" mdbWavesEffect>2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" mdbWavesEffect>3</a></li>
        <li class="page-item"><a class="page-link" mdbWavesEffect>4</a></li>
        <li class="page-item"><a class="page-link" mdbWavesEffect>5</a></li>
        <li class="page-item">
          <a class="page-link" mdbWavesEffect>Next</a>
        </li>
      </ul>
    </nav>
</div>
